@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --page: #d5e1ef;
  --spacing-lg: 40px;
  --spacing-md: 24px;
  --spacing-sm: 16px;

  --primary: var(--primary);
  --secondary: var(--secondary);
}

:root {
  --primary: #1f314f;
  --secondary: #68778d;
}

.card-title {
  font-size: 1.375rem;
  line-height: 120%;
  letter-spacing: 0px;
  font-family: "Outfit Bold";
  font-weight: 700;
  color: var(--primary);
}

.card-paragraph {
  font-size: 0.9375rem;
  line-height: 140%;
  font-family: "Outfit Regular";
  color: var(--secondary);
}

html {
  background-color: var(--page);
}
